body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    outline: none;
}

.login-button, .forgot-password-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-button {
    background-color: #e74c3c;
    margin-top: 10px;
}

.login-button:hover, .forgot-password-button:hover {
    background-color: #2980b9;
}

.forgot-password-button:hover {
    background-color: #c0392b;
}
